<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<target xsi:type="File" name="file" fileName="${CurrentDir}/log.txt" 
				layout="${longdate} ${level:uppercase=true} ${callsite} ${message} ${exception:format=ToString}" 
				deleteOldFileOnStartup="true" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>
